*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(94, 196, 196);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    background-color: white;
    width: 35vw;
    height: 65vh;
    border-radius: 15px;
}

.card-top {
    background-image: url(tsticks-test-img.jpg);
    background-size: cover;
    background-position: center;
    height: 35%;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.card-top img {
    position: absolute;
    top: calc(100% - 75px);
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
}

.card-btm {
    height: 65%;
    position: relative;
}

.text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text-center p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.text-btm {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    padding: 2.5em;
}

.text-btm::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    background-color: rgb(221, 220, 220);
}

.card-btm h3 {
    font-size: 2.5rem;
    color: rgb(44, 43, 43);
}

.card-btm p,
.card-btm span {
    color: rgb(167, 167, 167);
}

.card-btm p {
    font-size: 1.5rem;
}

span {
    font-weight: 200;
    padding-left: 5px;
}

.footer-text p{
    font-size: 1.6rem;
    padding: .5em 0;
}

@media (max-width: 1000px) {

    .card {
        width: 40vw;
        height: 70vh;
    }
    .card-btm h3 {
        font-size: 2rem;
    }
    .text-center p {
        margin-top: .5em;
        margin-bottom: .5em;
    }
    .text-btm {
        padding: 1.5em;
    }
    .card-top img {
        width: 120px;
        height: 120px;
        top: calc(100% - 60px);
    }
}

@media (max-width: 500px) {

    .card {
        width: 60vw;
        height: 70vh;
    }
    .card-btm h3 {
        font-size: 2rem;
    }
}